#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.logo {
  margin-bottom: -12px;
}

.adwait {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.hit-counter {
  opacity: 0;
}